<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">

</nav>
<div class="container">
  <button [routerLink]="['/names']" style="float: left;" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
  true}">

    <span class="nav-link"> List </span>
  </button>
  <button [routerLink]="['/names','new']" routerLinkActive="active">

    <span class="nav-link"> Add </span>
  </button>
</div>
<a class="navbar-brand" routerLink="/" style="width: 100%">
  <span class="page title" *ngIf="title" style="float: left">
    <span class="title-string">{{title}}</span>
  </span>
</a>